*{
    margin: 0;
}
body{
    background-color: #000000;
    background-image: url(background.webp);
    background-size: cover;
    font-family: "Barlow", sans-serif;
    color: white;

    display: flex;
    align-items: center;

    height: 100vh;
}


h1{
    
    font-size: 70px;
    letter-spacing: 3px;
}

h1 span{
    color: red;
    font-size: 80px;
    
}

h2{

    font-size: 24px;
    margin-bottom: 12px;
}

p{
    font-size: 22px;
}

.btn{
    color: red;
    text-decoration: none;
    border: solid 1px rgb(193, 26, 26);
    border-radius: 10px;

    padding-left: 60px;
    padding-right: 60px;
    padding-top: 15px;
    padding-bottom: 15px;

    display: inline-block;
    margin-top: 48px;
}
.btn:hover{
    color: red;
    background-color: darkred;
}

.container{
    width: 95%;
    max-width: 1259px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    column-gap: 24px;
    
}

.info{
    font-size: 18px;
    margin-top: 13px;
    margin-bottom: 25px;

}
.info strong{
    color: red;
    margin-left: 12px;
}

@media (max-width: 776px){

    body{
        background-position: right;
    }
    h1{
        font-size: 42px;
    }
    h1 span{
        font-size: 45px;
    }

    .poster{
        display: none;
    }

}



